.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5%;
}

.card {
    width: 550px;
    margin: 20px 20px !important;
}
.infected {
    background-color: rgb(58, 73, 130) !important;
}

.recovered {
    background-color: rgb(58, 172, 48) !important;
}

.deaths {
    background-color: rgb(174, 32, 32) !important;
}